/******************** Tag selector ********************/

body {
    color: #40514E;
    background-color: lightgoldenrodyellow;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif; 
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 1;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;

}

hr {
    border-color: #84e0e0;
    border-style: none;
    border-top-style: dotted;
    border-width: 8px;
    width: 5%;
    margin: 100px auto;
}

p {
    line-height: 2;
}

a {
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    padding-top: 50px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

/******************** Class selector ********************/

.Top-container {
    background-color: #EAF6F6;
    position: relative;
    padding: 250px 0 100px;

}

.middle-container {
    margin: 100px 0;
}

.bottom-cloud {
    position: absolute;
    left: 400px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    top: 100px;
    right: 450px;

}  


.footer-link {
    color: #11999E;    
}

.ux-work{

    text-align: left;

}


.designer{
    text-align: left;

}

.dev{
    color: #FF8787;
}

.skill-row{
    text-align: left;
    width: 50%;
    margin: 100px auto 100px;
}



.UX-img {
    width: 20%;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.dev-img {
    width: 20%;
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
}

.developer{
    text-align: left;


}

.dev-work{

    text-align: left;
    padding-bottom: 20px;
}

.contact-me{
    width: 30%;
    margin: 40px auto 40px;
}

.contact-intro {
    display: inline-block;
    margin: 30px auto 60px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 12px 20px 12px 20px;
    text-decoration: none;
    
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.bottom-container {
    
    padding: 50px 0 10px;
    background-color: #66BFBF;
    color: #11999E;
}

.cc {
    padding: 10px 0;
    color: #EAF6F6;
    font-size: 0.75rem;
}

.profile{
    text-align: center;
    width: 50%;
    margin: 100px auto 100px;
    line-height: 2;
}

.intro{
    width: 70%;
    margin: auto;
}

/******************** ID selector ********************/
